body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

ui {
  flex: 1 0 auto;
}

coins-ui {
  display: flex;
  flex-direction: column;
}

bitcoin-cash-ui {
  display: flex;

  justify-content: space-around;
  align-items: center;

  iframe {
    zoom: 1.25;
    transform: scale(0.75);
  }
}