body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

ui {
  flex: 1 0 auto;

  display: flex;
}

coins-ui {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

bitcoin-cash-ui {
  flex: 1 0 auto;

  display: flex;

  justify-content: space-around;
  align-items: center;

  coins {
    display: flex;
    flex-direction: column;

    text-align: right;
  }

  balance {
    display: flex;
    flex-direction: column;

    text-align: right;
  }

  confirmed {
    display: flex;
    flex-direction: column;
  }
}